{% extends "base.html" %}

{% block titulo %} inicio {% endblock %}

{% block contenido %}

<div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3"> Bienvenido al CRUD de la NFL :D </h1>
        <p class="lead"> Puedes hacer CRUD a estadios, equipos y ciudades, ¡Empieza a CRUDear ya! </p>
        <hr class="my-2">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button"> ¡Empezar!</a>
        </p>

    </div>
</div>

{% endblock %}