{% extends "base.html" %}

{% block titulo %} Editar un equipo {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        Editar un equipo
    </div>
    <div class="card-body">
        <h4 class="card-title">Datos del equipo</h4>
        {% include 'equipos/form.html' %}

        
    </div>
    <div class="card-footer text-muted">
        :3
    </div>
</div>

{% endblock %}