body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:black;
}

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.menu-izquierdo, .menu-derecho {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.menu-izquierdo li, .menu-derecho li {
    margin-left: 20px;
    display: inline; 
}

.menu-izquierdo a, .menu-derecho a {
    color: white;
    text-decoration: none;
}


.menu-izquierdo li::before, .menu-derecho li::before {
    content: "";
}

/* Estilos del logo */
.logo-container {
    display: flex;
    align-items: center;
    flex: 1;
}

.logo {
    max-width: 100px;
    height: auto;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    border-bottom: 2px solid white;
}

/* Estilos de la sección de bienvenida */
.bienvenida {
    height: 500px;
    background-image: url('imagenes/fondo-cartas.png');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fondo-bienvenida {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.tituloblanco {
    max-width: 150%;
    height: auto;
    position: absolute;
    top: 20px;
    left: 20px;
}

.texto-bienvenida {
    max-width: 550px;
    height: auto;
    position: absolute;
    top: 200px;
    left: 20px;
    opacity: 1;
}


.menu-deslizable {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    align-items: center;
}

.titulo-menu {
    max-width: 350px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.slider {
    display: flex;
    overflow: hidden;
    width: 100%;
    
}

.slide {
    min-width: 100%;
    transition: 0.5s;
    width: 200px; 
    height: 200px;
}

.slide img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

.seccion-rectangular {
    display: flex;
    background-color: #fff; 
    padding: 20px;
    margin: 20px; 
}

.imagen-izquierda {
    flex: 1; 
    margin-right: 20px; 
}

.imagen-izquierda img {
    max-width: 100%; 
    height: auto;
    display: block; 
}

.contenido-derecha {
    flex: 1; 
    display: flex;
    flex-direction: column; 
}

.imagen-superior-derecha img {
    max-width: 100%; 
    height: auto;
    display: block; 
}

#p-yourselft {
    font-size: 35px;
    color: #000000; 
    
}

footer {
    background-color: black; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
}

.footer-barra-negra {
    display: flex;
    justify-content: center;
}

.footer-barra-negra img {
    max-width: 150px; 
    height: auto; 
    margin: 10px; 
}