body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:black;
}

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.menu-izquierdo, .menu-derecho {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.menu-izquierdo li, .menu-derecho li {
    margin-left: 20px;
    display: inline; 
}

.menu-izquierdo a, .menu-derecho a {
    color: white;
    text-decoration: none;
}


.menu-izquierdo li::before, .menu-derecho li::before {
    content: "";
}


/* Estilos del logo */
.logo-container {
    display: flex;
    align-items: center;
    flex: 1;
}

.logo {
    max-width: 100px;
    height: auto;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    border-bottom: 2px solid white;
}

/* Seccion de los coreanos jugando cartitas */

.seccion-rectangular {
    display: flex;
    background-color: #000000; 
    padding: 20px;
    margin: 20px; 
}

.imagen-izquierda {
    flex: 1; 
    margin-right: 20px; 
}

.imagen-izquierda img {
    max-width: 100%; 
    height: auto;
    display: block; 
}

.contenido-derecha {
    flex: 1; 
    display: flex;
    flex-direction: column; 
}

.imagen-superior-derecha img {
    max-width: 100%; 
    height: auto;
    display: block; 
}

#p-presentacion {
    font-size: 27px;
    color: #ffffff; 
    
}

.seccion-de-productos{
    background-color: white; 
    width: 100%; 
    padding: 20px; 
    text-align: center; 

}


footer {
    background-color: black; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
}

.footer-barra-negra {
    display: flex;
    justify-content: center;
}

.footer-barra-negra img {
    max-width: 150px; 
    height: auto; 
    margin: 10px; 
}